<h1>Learn#index</h1>
<p>Find me in app/views/learn/index.html.erb</p>

<div ng-controller="IndexCtrl">



	<form ng-submit="addWord()">
		<input type="password" name="newWord" ng-model="newWord" placeholder = "Enter New Word"> <br>
		<button>add Word, Werd</button>
	</form>

	<span ng-repeat="char in displayChars() track by $index">
		{{char}}
	</span>
	
	<form ng-submit="checkGuess()">
		<input type="text" name="guess" ng-model="guess">
		<button>Guess</button>
	</form>

	<div ng-pluralize count="guessCount" when="{'0' : 'No guesses.', 'one': '1 guess.', 'other': '{}guesses.'}">
		{{guessCount}}
	</div>
	
	<div ng-repeat="characted in guessedChars track by $index">
		{{character}}
	</div>

</div>
