<h1>Learn#index</h1>
<p>Find me in app/views/learn/index.html.erb</p>

<div ng-controller="IndexCtrl">



	<form action="javascript:void(0);" ng-submit="submit()">
		<input type="text" ng-model="word" placeholder = "Enter Word">
		<button>Enter</button>

				<h3>{{word}}</h3>
	</form>
	
	<form action="javascript:void(0);" ng-submit="guess()">
		<input type="text" ng-model="letter" placeholder = "Letter">
	</form>

{{title}}

</div>
