<h1>Learn#indexPooPoo Site</h1>
<p>Find also you soo stupid! word guesser! me in app/views/learn/index.html.erb</p>

<div ng-controller="IndexCtrl">


	<form ng-submit="addWord()" ng-hide="submitted" class="word-form">
		<p>
			<input type="text" ng-model="word" class="form-control" placeholder="type stupid word here" autofocus>
		</p>
		<p>
			<button class="btn save-new">Save Stupid Word</button>
		</p>
	</form>


	<span ng-repeat="char in displayChars() track by $index">
		{{char}}
	</span>
	
	<form ng-submit="checkGuess()">
		<input type="text" name="guess" ng-model="guess">
		<button>Guess</button>
	</form>

	<div ng-pluralize count="guessCount" when="{'0' : 'No guesses.', 'one': '1 guess.', 'other': '{}guesses.'}">
		{{guessCount}}
	</div>

	<div ng-repeat="characted in guessedChars track by $index">
		{{character}}
	</div>

</div>